<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"
     [ngStyle]="{
     'background-image': getBackGroundImage(), 'background-repeat': 'no-repeat', 'background-position' : 'center',
     'background-size' : 'cover', 'min-height' : '100vh', 'font-family' : 'Roboto'
     }">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Edit Lease</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Room Number" formControlName="roomNumber" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Party A" formControlName="partyA">
          <mat-error *ngIf="(submitted || f.partyA.dirty || f.partyA.touched) && f.partyA.errors?.required">Party A is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Party B" formControlName="partyB">
          <mat-error *ngIf="(submitted || f.partyB.dirty || f.partyB.touched) && f.partyB.errors?.required">Party B is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Rent" formControlName="rent">
          <mat-error *ngIf="(submitted || f.rent.dirty || f.rent.touched) && f.rent.errors?.required">Rent is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Deposit" formControlName="deposit">
          <mat-error *ngIf="(submitted || f.deposit.dirty || f.deposit.touched) && f.deposit.errors?.required">Deposit is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [min]="minDate" [max]="f.leaseEndDate.value" [matDatepicker]="picker" placeholder="Lease Start Date" formControlName="leaseStartDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="(submitted || f.leaseStartDate.dirty || f.leaseStartDate.touched) && f.leaseStartDate.errors?.required">Lease Starting Date is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [min]="f.leaseStartDate.value" [max]="maxDate" [matDatepicker]="picker2" placeholder="Lease End Date" formControlName="leaseEndDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="(submitted || f.leaseEndDate.dirty || f.leaseEndDate.touched) && f.leaseEndDate.errors?.required">Lease Ending Date is required</mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" type="submit">Edit</button>

    </form>
  </mat-card>
</div>
