<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/home1.jpg"
           alt="First slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Whatever you game - poker, eight ball, or black jack...</h3>
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/home2.jpg"
           alt="Second slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Enjoy the children's playroom with toys, books, and games of all types.</h3>
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/home3.jpg"
           alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Our lobby staff is on duty 24 hours a day and is committed to the highest level of service</h3>
    </div>
  </mdb-carousel-item>
  <!--/Third slide-->

  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/payment2.jpg"
           alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Living at HENRY HALL puts you in the heart of Midtown Manhattan</h3>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/home5.png"
           alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">HENRY HALL is pet friendly, so bring your dogs and cats, and let them enjoy the same level of service as their happy owners!</h3>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/home6.jpg"
           alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">For even more fun, let the party spill outdoors onto the adjoining private terrace!</h3>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/home7.jpg"
           alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">The terrace is lushly landscaped and furnished like a resort. Enjoy the private world where you can sunbathe, read, relax, or party. </h3>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://msi-final-mingjie-resources.s3.us-east-2.amazonaws.com/home8.jpg"
           alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">A heated swimming pool flooded with natural light will inspire you to meet your fitness goals.</h3>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<!--/.Carousel Wrapper-->
