<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"
     [ngStyle]="{
     'background-image': getBackGroundImage(), 'background-repeat': 'no-repeat', 'background-position' : 'center',
     'background-size' : 'cover', 'min-height' : '100vh', 'font-family' : 'Roboto'
     }">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register Room</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-card-content>

        <mat-form-field class="example-full-width">
          <mat-label>Room Type</mat-label>
          <mat-select formControlName="roomType">
            <mat-option [value]="roomType" *ngFor="let roomType of roomTypes">{{roomType}}</mat-option>
          </mat-select>
          <mat-error *ngIf="(submitted || f.roomType.dirty || f.roomType.touched) && f.roomType.errors?.required">Room Type is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Room Number" formControlName="roomNumber">
          <mat-error *ngIf="(submitted || f.roomNumber.dirty || f.roomNumber.touched) && f.roomNumber.errors?.required">Room Number is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Room Area" formControlName="roomArea">
          <mat-error *ngIf="(submitted || f.roomArea.dirty || f.roomArea.touched) && f.roomArea.errors?.required">Room Area is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="Deposit" formControlName="deposit">
          <mat-error *ngIf="(submitted || f.deposit.dirty || f.deposit.touched) && f.deposit.errors?.required">Deposit Amount is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Room Status</mat-label>
          <mat-select formControlName="status">
            <mat-option [value]="status" *ngFor="let status of roomStatus">{{status}}</mat-option>
          </mat-select>
          <mat-error *ngIf="(submitted || f.status.dirty || f.status.touched) && f.status.errors?.required">Room Status is required</mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" type="submit">Register</button>

    </form>
  </mat-card>
</div>
