<header class="header-user-dropdown">

  <div class="header-limiter">
    <h1><a href="#"><span>Header</span></a></h1>

    <nav>
      <a href="#">Rent</a>
      <a href="#">Mail<span class="header-new-feature">3</span></a>
      <a href="#">Package<span class="header-new-feature">2</span></a>
      <a href="#">Service<span class="header-new-feature">new</span></a>
    </nav>

    <div class="header-user-menu">
      <a routerLink="/users/login">
        <img src="https://www.pokemon-sunmoon.com/media/uploads/april_2017/pokemon-detail.png" alt="User Image"/>
      </a>
    </div>

  </div>

</header>
