<h2 *ngIf="userValue !== null && userValue.userType === 'Renter'">My Package</h2>
<h2 *ngIf="userValue !== null && userValue.userType === 'Staff'">Package List</h2>
<div class="mat-elevation-z8" >

  <div (click)="ngOnInit()">
    <mat-radio-group [(ngModel)]="packageStatus">
      <mat-radio-button class="example-margin" value="arrived">Arrived</mat-radio-button>
      <mat-radio-button class="example-margin" value="picked">Picked</mat-radio-button>
      <mat-radio-button class="example-margin" value="all">All</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="General Search">
  </mat-form-field>

  <div *ngIf="userValue !== null && userValue.userType === 'Renter'">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Arrived Time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrived Time</th>
        <td mat-cell *matCellDef="let p"> {{p.packageArrivalTime}} </td>
      </ng-container>

      <ng-container matColumnDef="Tracking Number">
        <th mat-header-cell *matHeaderCellDef>Package Tracking Number</th>
        <td mat-cell *matCellDef="let p"> {{p.trackingNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Picked Time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Picked Time</th>
        <td mat-cell *matCellDef="let p"> {{p.packagePickedUpTime}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Package Status</th>
        <td mat-cell *matCellDef="let p"> {{p.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Operations">
        <th mat-header-cell *matHeaderCellDef>Operations</th>
        <td mat-cell *matCellDef="let p">
          <div *ngIf="p.status === 'Arrived'">
            <button mat-button (click)="delete(p)" disabled>Delete</button>
          </div>
          <div *ngIf="p.status === 'Picked'">
            <button mat-button (click)="delete(p)">Delete</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="postDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: postDisplayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div *ngIf="userValue !== null && userValue.userType === 'Staff'">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Tracking Number">
        <th mat-header-cell *matHeaderCellDef>Package Tracking Number</th>
        <td mat-cell *matCellDef="let p"> {{p.trackingNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Room Number</th>
        <td mat-cell *matCellDef="let p"> {{p.roomNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Residence Name</th>
        <td mat-cell *matCellDef="let p"> {{p.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Package Status</th>
        <td mat-cell *matCellDef="let p"> {{p.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Operations">
        <th mat-header-cell *matHeaderCellDef>Operations</th>
        <td mat-cell *matCellDef="let p">
          <div *ngIf="p.status === 'Arrived'">
            <button mat-button (click)="pick(p)">Pick</button>
            <button mat-button (click)="delete(p)" disabled>Delete</button>
          </div>
          <div *ngIf="p.status === 'Picked'">
            <button mat-button (click)="pick(p)" disabled>Pick</button>
            <button mat-button (click)="delete(p)">Delete</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="postDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: postDisplayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


<!--  <table mat-table [dataSource]="dataSource" matSort>-->
<!--    <ng-container matColumnDef="Arrived Time">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrived Time</th>-->
<!--      <td mat-cell *matCellDef="let p"> {{p.packageArrivalTime}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="Tracking Number">-->
<!--      <th mat-header-cell *matHeaderCellDef>Package Tracking Number</th>-->
<!--      <td mat-cell *matCellDef="let p"> {{p.trackingNumber}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="Picked Time">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Picked Time</th>-->
<!--      <td mat-cell *matCellDef="let p"> {{p.packagePickedUpTime}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="Status">-->
<!--      <th mat-header-cell *matHeaderCellDef>Package Status</th>-->
<!--      <td mat-cell *matCellDef="let p"> {{p.status}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="Operations">-->
<!--      <th mat-header-cell *matHeaderCellDef>Operations</th>-->
<!--      <td mat-cell *matCellDef="let p">-->
<!--        <div *ngIf="p.status === 'Arrived'">-->
<!--          <button mat-button (click)="pick(p)">Pick</button>-->
<!--          <button mat-button (click)="delete(p)" disabled>Delete</button>-->
<!--        </div>-->
<!--        <div *ngIf="p.status === 'Picked'">-->
<!--          <button mat-button (click)="pick(p)" disabled>Pick</button>-->
<!--          <button mat-button (click)="delete(p)">Delete</button>-->
<!--        </div>-->
<!--      </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="postDisplayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: postDisplayedColumns;"></tr>-->
<!--  </table>-->
<!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->

</div>
