<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"
     [ngStyle]="{
     'background-image': getBackGroundImage(), 'background-repeat': 'no-repeat', 'background-position' : 'center',
     'background-size' : 'cover', 'min-height' : '100vh', 'font-family' : 'Roboto'
     }">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Password Reset</mat-card-title>
    </mat-card-header>
    <br>

    <form class="example-form" ngForm #LogInForm="ngForm" (ngSubmit)="reset(LogInForm.value)">
      <mat-card-content>
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Email Address" ngModel name="username" required>
          <mat-error>Email address is required</mat-error>
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Reset</button>
    </form>
  </mat-card>

</div>
